body{
background-size: cover;
background-repeat: repeat-y;
color: white;
}

nav{
    opacity: .5;
}
table{
    color: black;
    background-color: rgba(206, 134, 134, 0.7);
    opacity: .9;
   

}



